@import 'modern-normalize/modern-normalize.css';

h1,
h2,
h3,
p {
  margin: 0;
}

input {
  outline: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  border: none;
  color: var(--hoverColor);
  background-color: var(--primaryTextColor);
}

button:hover, 
button:focus {
  color: var(--primaryTextColor);
  background-color: var(--hoverColor);
  outline: 1px solid var(--primaryTextColor);
    
}

input {
  padding: 0;
}

.visually__hidden {
  clip: rect(0 0 0 0);
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
