@import '../../sass/utils/mixin';

.sectionTrackingResults {
    padding-top: 20px;
    padding-bottom: 20px;
}

.traking__container {
    max-width: 280px;
    background-color: var(--hoverColor);
    border-radius: 8px;
    padding: 20px 10px;

    @include mq(tab) {
        position: absolute;
        top: 270px;
    }

    @include mq(desk) {
        max-width: 600px;
        padding: 20px 20px;
    }
}

.taking__listItem:not(:last-child) {
    margin-bottom: 20px;
}