@import '../../sass/utils/mixin';

.header {

  @include mq(tab) {

  }
  
  @include mq(desk) {

  }
}

.header__padding {
  padding-top: 20px;
  padding-bottom: 20px;

  @include mq(tab) {
    display: flex;
    justify-content: space-between;
  }
}

.logo {

  @include mq(tab) {
      height: 50px;
    }
}

.logo__img {
  margin-bottom: 20px;
  border-radius: 8px;
}