@import '../../sass/utils/mixin';

.header {

  color: var(--b);
  background-color: var(--title);
  
  @include mq(tab) {
    
  }
  
  @include mq(desk) {

  }
}

.header__padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo__img {
  margin-bottom: 20px;
}