@import '../../sass/utils/mixin';

.navBar {
    display: flex;

    @include mq(desk) {
        width: 600px;
        justify-content: flex-start;
    }
}

.button__nav:first-child {
    margin-right: 10px;

    @include mq(tab) {
        margin-right: 20px;
    }
    
    @include mq(desk) {
        margin-right: 30px;
    }
}