@import '../../sass/utils/mixin';

.sectionForm {
    padding-top: 20px;
}

.form__container {
    @include mq(tab) {
        display: flex;
        justify-content: space-between;
    }
    
}

.formSearch {
    margin-bottom: 20px;
    max-width: 280px;
}

.search__input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 40px;
    min-width: 280px;

    @include mq(desk) {}
}

.input__description {
    position: absolute;
    top: 160px;
    text-align: center;
    
    @include mq(tab) {
        text-align: start;
    }
    
    @include mq(desk) {}
}

.button__submit {
    min-width: 280px;
}